pr:
  branches:
    include:
    - master
    - feature/*

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python38:
      python.version: '3.8'
    Python39:
      python.version: '3.9'
    Python310:
      python.version: '3.10'
    Python311:
      python.version: '3.11'
steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install poetry
    poetry install --with dev,ner
    poetry run python -m spacy download en_core_web_sm
    poetry run python -m spacy download en_core_web_lg

  displayName: 'Install dependencies'

- script: |
    poetry add pytest-azurepipelines
    poetry run pytest --runslow
  displayName: 'pytest'
