spacy>=3.2.0
numpy>=1.12.4
jupyter>=1
pandas>=1.3.4
tqdm>=4.60.0
haikunator>=2.1.0
schwifty
faker>=9.6.0
scikit_learn<0.24
sklearn_crfsuite>=0.3.6
pytest>=6.2.3
presidio_analyzer
presidio_anonymizer
requests>=2.25.1
xmltodict>=0.12.0
torch>=1.10.1
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz#egg=en_core_web_sm
flair>=0.10
stanza>=1.3.0
spacy-stanza>=1.0.1