spacy==3.0.5
numpy==1.20.2
jupyter>=1
pandas~=1.2.4
tqdm~=4.60.0
haikunator~=2.1.0
schwifty
faker~=8.1.0
scikit_learn==0.24.1
#flair
sklearn_crfsuite==0.3.6
pytest~=6.2.3
presidio_analyzer
presidio_anonymizer
requests~=2.25.1