spacy>=3.2.0
numpy>=1.20.2
jupyter>=1
pandas>=1.2.4
tqdm>=4.60.0
haikunator>=2.1.0
schwifty
faker>=9.6.0
scikit_learn
#flair
#stanza
#spacy_stanza
#sklearn_crfsuite
pytest>=6.2.3
presidio_analyzer
presidio_anonymizer
requests>=2.25.1
xmltodict>=0.12.0
python-dotenv
plotly
azure-ai-textanalytics==5.2.0
numpy
